<StatusBar ios:barStyle="light" android:barStyle="#72D2E4">
</StatusBar>
<ActionBar class="action-bar" [title]="chat.roomName">
	<ActionItem [nsRouterLink]="['/create-room']" text="Create Chat" ios.position="left" ios.systemIcon="7" class="material-icon" android.position="left">
	</ActionItem>
</ActionBar>

<StackLayout>
	<ScrollView class="body">
		<StackLayout class="wrapper">
			<FrameLayout *ngFor="let msg of chat.messages">
				<GridLayout borderRadius="6" class="card" columns="*" rows="auto, *">
					<StackLayout horizontalAlignment="stretch">
						<Label horizontalAlignment="stretch" class="title" [text]="msg.userId" android:class="label-item"></Label>
						<Label horizontalAlignment="stretch" class="title" [text]="msg.message" android:class="label-item"></Label>
					</StackLayout>
				</GridLayout>
			</FrameLayout>
		</StackLayout>
	</ScrollView>
</StackLayout>

<h3>
    <Label text="{{chatService.socket.id}}"></Label>
	<TextField autocorrect="false" hint="message" [(text)]="message" fontSize="27" row="24" col="1" (returnPress)="send()"></TextField>
    <Button (click)="send()">Send</Button>
</h3>

<Button class="link" [routerLink]="['/']">Back to chat list</Button>