<StatusBar ios:barStyle="light" android:barStyle="#72D2E4">
</StatusBar>

<ActionBar class="action-bar" title="Bubble">

	<ActionItem [nsRouterLink]="['/create-room']" text="Create Chat" ios.position="right" ios.systemIcon="7" class="material-icon" android.position="popup">
	</ActionItem>

	<!--<android>-->
	<ActionItem (tap)="onToggleSearch($event)" android:text="Search" class="material-icon" android.systemIcon="ic_menu_search" android.position="actionBar" ios.position="left" ios:text="Search" ios.systemIcon="12">
		<!--<SearchBar #searchBar title="Bubble" visibility="{{ showSearch ? 'visible' : 'collapse' }}" hint="Search for a chat..." style="background-color: #0072D2E4;">
				</SearchBar>-->
	</ActionItem>
	<!--</android>-->

	<!--<ios>
			<ActionItem (tap)="onToggleSearch($event)" ios.position="left" ios:text="Search" class="material-icon" ios.systemIcon="12">
			</ActionItem>
		</ios>-->

	<ActionItem visibility="{{ !showTab ? 'visible' : 'collapse' }}" (tap)="onOptions($event)" text="Profile" class="material-icon"
		android.position="popup">
	</ActionItem>

	<ActionItem visibility="{{ !showTab ? 'visible' : 'collapse' }}" (tap)="onOptions($event)" text="Settings" class="material-icon"
		android.position="popup">
	</ActionItem>

</ActionBar>

<StackLayout>
	<!--<ios>-->
	<SearchBar #searchBar title="Bubble" visibility="{{ showSearch ? 'visible' : 'collapse' }}" hint="Search for a chat..." style="background-color: #0072D2E4;">
	</SearchBar>
	<!--</ios>-->

	<GridLayout columns="*" rows="*">
		<ScrollView class="body">
			<StackLayout class="wrapper">

				<FrameLayout *ngFor="let chat of chats">
					<GridLayout borderRadius="6" class="card" columns="*" rows="*">
						<StackLayout horizontalAlignment="stretch">
							<Label horizontalAlignment="stretch" class="title" [text]="chat.roomName" android:class="label-item"></Label>
							<Label horizontalAlignment="stretch" class="categories" [text]="chat.categories" android:class="label-item" textWrap="true"></Label>
							<AbsoluteLayout horizontalAlignment="left">
								<Label horizontalAlignment="left" class="sizing" text="{{chat.userSize}}/{{chat.userLimit}}" android:class="label-item" textWrap="true"></Label>
							</AbsoluteLayout>
							<Button text="Join chat" [nsRouterLink]="['/chat', chat.roomId]" class="link"></Button>
						</StackLayout>
						<AbsoluteLayout horizontalAlignment="right" verticalAlignment="bottom">
							<Label horizontalAlignment="right" class="timestamp" [text]="chat.lastActive" android:class="label-item" textWrap="true"></Label>
						</AbsoluteLayout>
					</GridLayout>
				</FrameLayout>

			</StackLayout>
		</ScrollView>
	</GridLayout>

	<DockLayout>

<!-- tabsBackgroundColor="#72D2E4" selectedColor="#000000" color="#FFFFFF" -->
		<TabView selectedIndex={{selectedIndex}} visibility="{{ showTab ? 'visible' : 'collapse' }}">

			<StackLayout *tabItem="{title: 'Profile', iconSource: 'res://profile'}">
			</StackLayout>

			<StackLayout *tabItem="{title: 'Chats', iconSource: 'res://chats'}">
			</StackLayout>

			<StackLayout *tabItem="{title: 'Settings', iconSource: 'res://settings'}">
			</StackLayout>
		</TabView>

	</DockLayout>

</StackLayout>